@model IEnumerable<DOMODO.Models.Sensores>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoSensor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Identificador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dispositivo.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoSensor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Identificador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dispositivo.Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdSensores }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdSensores }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdSensores })
        </td>
    </tr>
}

</table>
